<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% endblock %}Netrunner</title>
</head>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/get_columns">Data Lab</a></li>
    <li><a href="render_network">Graph</a></li>
    <li><a href="#">Analysis</a></li>
    <li><a href="#">Export</a></li>
</ul>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            Established in 2021

        {% endblock %}
    </div>
</body>