<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network</title>
    <script src="//unpkg.com/3d-force-graph"></script>
</head>
<body>
    <div id="3d-graph"></div>
    <script type="module">
        const gData = JSON.parse({{ json_data|tojson }})
        const Graph = ForceGraph3D()
            (document.getElementById('3d-graph'))
                .graphData(gData)
                .nodeLabel('id')
                .nodeAutoColorBy('group')
                .onNodeDragEnd(node => {
                    node.fx = node.x;
                    node.fy = node.y;
                    node.fz = node.z;
                })
    </script>
</body>
</html>